#ep_header {
	margin-top: 5px;
	height: 25px;
}
#ep_header h2 {
	display: inline;
}
#installer {
	float: right;
	margin-bottom: 0;
}

label {
	font-weight: bold;
	width: 23em;
	float: left;
}

#tabs {
	padding: 3px 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-top: 0.1em;
	font: bold 12px Verdana;
	border-bottom: 1px solid gray;
}

#tabs li {
	list-style: none;
	display: inline;
	margin: 0;
}

#tabs li a {
	text-decoration: none;
	padding: 3px 0.5em;
	margin-right: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #fff;
}

#tabs li a:link, #tabs li a:visited {
	color: navy;
}

#tabs li a:hover {
	color: #000;
	background: lightyellow;
	border-color: navy;
}

#tabs li a.current {
	background: grey;
}

.results_table {
	border-collapse: collapse;
	border:1px solid #000;
}
.results_table th {
	padding-right: 0.5em;
	background-color: #D7D6CC;
}
.results_table tr.fail td.status {
	color: #E68080;
}
.results_table tr.success td.status {
	color: #599659;
}
td.status {
	font-weight: bold;
}
.results_table tr.alt {
	background-color: #E7E6E0;
}
.error {
	color: red;
	font-weight: bold;
}