#ep_header {
	margin-top: 5px;
	height: 25px;
}
#ep_header h2 {
	display: inline;
}
#installer {
	float: right;
	margin-bottom: 0;
}

label {
	font-weight: bold;
	width: 23em;
	float: left;
}

#uploaded_files {
	display: none;
}

.results_table {
	border-collapse: collapse;
	border:1px solid #000;
}
.results_table th {
	padding-right: 0.5em;
	background-color: #D7D6CC;
}
.results_table tr.fail td.status {
	color: #E68080;
}
.results_table tr.success td.status {
	color: #599659;
}
td.status {
	font-weight: bold;
}
.results_table tr.alt {
	background-color: #E7E6E0;
}
.error {
	color: red;
	font-weight: bold;
}